{%extends 'base.html'%}
{%load static%}
{%block title%}About Us{%endblock%}
{%block content%}
<main class="page">
    <section class="about-page">
      <article>
        <h2><span style="color:#645cff;">Simply</span>Recipes</h2>
        <p>
                Simply Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
        </p>
          <p>
          There are three things we think about when deciding if a recipe is good enough to go on Simply Recipes:
<ul style='list-style:none'>
         <li><b>First, does it work?</b> Recipes need to be easy to follow and provide reliable results, every time.</li>
    <li><b>Second, is it delicious?</b> Does the dish make us smile inside and out? Do we want to eat the whole batch by ourselves?</li> 
    <li><b>Third, is it worth the effort?</b> Do we want to make it again (and again and again)?</li>
          </ul>
          
          </p>
       
        <a href="{%url 'contact'%}" class="btn"> contact </a>
      </article>
      <!-- needs fixes -->
      <img
        src="{% static 'images/about.jpeg'%}"
        alt="Person Pouring Salt in Bowl"
        class="img about-img"
      />
    </section>
    <section class="featured-recipes">
      <h5 class="featured-title">Look At These awesome recipes!</h5>
      <div class="recipes-list">
        <!-- single recipe -->
        {%for r in recipes%}
        <a href="{% url 'single_recipe' r.slug %}" class="recipe">
          <img
            src="{%static 'images/'|add:r.image%}"
            class="img recipe-img"
            alt=""
          />
          <h5>{{r.name}}</h5>
          <p>Prep : {{r.preptime}} | Cook : {{r.cooktime}}</p>
        </a>
        {%endfor%}
        <!-- end of single recipe -->
        
      </div>
    </section>
  </main>
{%endblock%}
