
<!DOCTYPE html>
<html lang="en">
  {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
    <!-- favicon -->
    <script id="convertful-api" src="https://app.convertful.com/Convertful.js?owner=64514" async></script>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'normalize.css'%}" />
    <!-- font-awesome -->
    {% block css %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "Recipes",
    "item": "https://cooksimplyrecipes.herokuapp.com/recipes"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "Products",
    "item": "https://cooksimplyrecipes.herokuapp.com/products"  
  },{
    "@type": "ListItem", 
    "position": 3, 
    "name": "Contact Us",
    "item": "https://cooksimplyrecipes.herokuapp.com/contact"  
  }]
}
</script>
    <meta property="og:title" content=Delicious Recipes>
<meta property="og:site_name" content=SimplyRecipes>
<meta property="og:url" content="">
<meta property="og:description" content=Simply Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about. Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients.>
<meta property="og:type" content="">
<meta property="og:image" content=https://cooksimplyrecipes.herokuapp.com/static/images/logo.c89c99053d85.svg>
    <meta name="google-site-verification" content="1zGDiU7R45QCTqq9_3MITNDgGrweeNEZ2hx6Sxp2t3s" />
  </head>
  
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="/" class="nav-logo">
            <img src="{%static 'images/logo.svg'%}" alt="simply recipes" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="/" class="nav-link"> home </a>
          <a href="{% url 'about'%}" class="nav-link"> about </a>
          <a href="{% url 'products'%}" class="nav-link"> Products</a>
          <a href="{% url 'all_recipes' %}" class="nav-link"> recipes </a>

          <div class="nav-link contact-link">
            <a href="{% url 'contact'%}" class="btn"> contact </a>
          </div>
        </div>
      </div>
    </nav>
    {%block content%}
    {%endblock%}
      <footer class="page-footer" style=''>
        <p>Copyright 
          &copy; <span id="date"></span>
          <span class="footer-logo">SimplyRecipes</span> Built by
          <a>Harmanpreet kaur</a>
          </p>
          <p style="margin-top:1rem;">
            <span><a href="{%url 'terms'%}">Terms and Conditions</a></span>
            <span style="margin-left: 1.5rem;"><a href="{%url 'privacy'%}">Privacy Policy</a></span>
          </p>
      
      </footer>  
      {%block script%}
      <script src="{% static 'app.js' %}"></script>
      {%endblock%}
    </body>
  </html>
