{%extends 'base.html'%}
{%load static%}
{%block title%}SimplyRecipes{%endblock%}

{%block content%}
<main class="page">
    <!-- header -->
    <header class="hero">
      <div class="hero-container">
        <div class="hero-text">
          <h1>simply recipes</h1>
          <h5>Simply Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. </h5>
            <a id='a1' type=button href="{% url 'contact'%}">Contact Us</a>
            <a id='a1' type=button href="{% url 'all_recipes'%}">View Recipes</a>
        </div>
      </div>
    </header>
    <!-- end of header -->
    
      <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container" style="visibility:hidden;">
          <h4>recipes</h4>
          <div class="tags-list">
            <a href="tag-template.html">Chicken (1)</a>
            <a href="tag-template.html">Breakfast (2)</a>
            <a href="tag-template.html">Carrots (3)</a>
            <a href="tag-template.html">Food (4)</a>
          </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
        <div class="recipes-list">
          <!-- single recipe -->
          {% for recipes in all_recipes %}
          <a href="{%url 'single_recipe' recipes.slug %}" class="recipe">
            <img
              src="{%static 'images/'|add:recipes.image %}"
              class="img recipe-img"
              alt=""
            />
            <h5 style="color: #645cff; font-weight:bold;">{{recipes.name}}</h5>
            <p>Prep : {{recipes.preptime}} | Cook : {{recipes.cooktime}}</p>
          </a>
          {% endfor %}
        </div>
    </section>
</main>























{%endblock%}
