{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block css %}
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}
{% block content %}
<h1 style="color: #645cff; text-align: center; margin-top: 2%; margin-bottom: 2%;">Our Range of Products</h1>
<section id="products">
<div class="list-group">
  <a href="https://amzn.to/3DnOOWD" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Philips HR3705/10 300 Watt Lightweight Hand Mixer, Blender with 5 speed control settings</h5>
      <small style="margin-left: 1rem;">₹1,599.00</small>
    </div>
    <p class="mb-1">Blender with 5 speed control settings, stainless steel accessories and 2 years warranty</p>

  </a>
  <a href="https://amzn.to/3sL6Xsw" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Bajaj Rex 500W Mixer Grinder</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹2,349.00</small>
    </div>
    <p class="mb-1">Bajaj Rex 500W Mixer Grinder with Nutri-Pro Feature, 3 Jars, White</p>
  </a>
  <a href="https://amzn.to/3Wbpc89" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Catch Kitchen King</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹180.00</small>
    </div>
    <p class="mb-1">Catch Kitchen King  100 GMS + Rajma Masala 100 GMS + Dalmakhani Masala 100 GMS - Spices/Masala Combo</p>
  </a>
    <a href="https://amzn.to/3TPQTSr" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">PERMAFROST Unbreakable Spice Rack for Kitchen</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹589.00</small>
    </div>
    <p class="mb-1">PERMAFROST Unbreakable Spice Rack for Kitchen Spice jar Masala Rack New Model Masala Rack Wooden Spice jar Masala Rack for Kitchen Spice Rack for Kitchen</p>
  </a>
    <a href="https://amzn.to/3sNCXfL" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">RUCHI Combo Pack</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹438.00</small>
    </div>
    <p class="mb-1">RUCHI Combo Pack(Turmeric Powder 250gm, Chilli Powder 100gm, Cumin Powder 100gm, Coriander Powder 100gm, Whole Jeera 100gm, Panch Phutan 100gm,Mustard 100gm, Curry Powder 100gm,Garam Masala 50gm)</p>
  </a>
    <a href="https://amzn.to/3Dfr3jy" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">KENT 16025 Sandwich Grill 700W</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹1,699.00</small>
    </div>
    <p class="mb-1">KENT 16025 Sandwich Grill 700W | Non-Toxic Ceramic Coating | Automatic Temperature Cut-off with LED Indicator | Adjustable Height Control, Metallic Silver, Standard</p>
  </a>
    <a href="https://amzn.to/3fmAxkY" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mr. Gold Max Utility Combo </h5>
      <small style="margin-left: 1rem;" class="text-muted">₹825.00</small>
    </div>
    <p class="mb-1">Mr. Gold Max Utility Combo (Refined Sunflower Oil 2L, Filtered Groundnut Oil 1L, Gingelly Oil 500ml, Coconut Oil 500ml) - Total 4L</p>
  </a>
    <a href="https://amzn.to/3TYJuAk" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Amazon Brand - Solimo Non-stick Cookware Set</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹3,129.00</small>
    </div>
    <p class="mb-1">Amazon Brand - Solimo Non-stick Cookware Set, 11 Piece, Black</p>
  </a>
    <a href="https://amzn.to/3Wbpc89" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">AGARO Galaxy 24 Pcs Kitchen Utensils Set</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹1299.00</small>
    </div>
    <p class="mb-1">AGARO Galaxy 24 Pcs Kitchen Utensils Set, Nylon and Stainless Steel, Heat Resistant, Kitchen Cooking Utensils, Cookware Set with Spatula, Black</p>
  </a>
    <a href="https://amzn.to/3TVoRoC" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">ZOFF MEAT COMBO (9 Products) Total weight- 900 g</h5>
      <small style="margin-left: 1rem;" class="text-muted">₹541.00</small>
    </div>
    <p class="mb-1">ZOFF MEAT COMBO (9 Products) Total weight- 900 g, Meat Masala 100 g, Sabji Masala 100 g, Garam Masala 100 g, Chilli Powder 100 g, Turmeric Powder 100 g, Coriander Powder 100 g, Dal Makhni Masala 100 g, Pav Bhaji Masala 100 g, Pani Puri Masala 100 g</p>
  </a>
</div>


</section>


{% endblock %}
