{%extends 'base.html'%}
{%load static%}
{%block title%}All Recipes{%endblock%}
{%block content%}
<main class="page">

    <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container" style="visibility:hidden;">
          <h4>recipes</h4>
          <div class="tags-list">
            <a href="tag-template.html">Chicken (1)</a>
            <a href="tag-template.html">Breakfast (2)</a>
            <a href="tag-template.html">Carrots (3)</a>
            <a href="tag-template.html">Food (4)</a>
          </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
        <div class="recipes-list">
          <!-- single recipe -->
          {% for recipes in all_recipes %}
          <a href="{%url 'single_recipe' recipes.slug %}" class="recipe">
            <img
              src="{%static 'images/'|add:recipes.image %}"
              class="img recipe-img"
              alt=""
            />
            <h5 style="color: #645cff; font-weight:bold;">{{recipes.name}}</h5>
            <p>Prep : {{recipes.preptime}} | Cook : {{recipes.cooktime}}</p>
          </a>
          {% endfor %}
        </div>
    </section>
</main>



{%endblock%}