{%extends 'base.html'%}
{%load static %}
{%block title%}{{recipe.0.name}}{%endblock%}
{%block content%}
<main class="page">
    <div class="recipe-page">
      <section class="recipe-hero">
        <img
          src="{%static 'images/'|add:recipe.0.image%}"
          class="img recipe-hero-img"
        />
        <article class="recipe-info">
          <h2 style="color: #645cff; font-weight:bold;">{{recipe.0.name}}</h2>
          <p>
                {{recipe.description}}
          </p>
          <div class="recipe-icons">
            <article>
              <i class="fas fa-clock"></i>
              <h5>prep time</h5>
              <p>{{recipe.0.preptime}}</p>
            </article>
            <article>
              <i class="far fa-clock"></i>
              <h5>cook time</h5>
              <p>{{recipe.0.cooktime}}</p>
            </article>
            <article>
              <i class="fas fa-user-friends"></i>
              <h5>serving</h5>
              <p>{{recipe.0.serving}}</p>
            </article>
          </div>
          <p class="recipe-tags">
            Tags :
            {%for tags in recipe.0.tags%}
            <a>{{tags}}</a>
            {%endfor%}
         
          </p>
        </article>
      </section>
      <!-- content -->
      <section class="recipe-content">
        <article>
          <h4>instructions</h4>
          <!-- single instruction -->
          {%for steps in recipe.0.steps%}
          <div class="single-instruction">
            <header>
              <p>step {{forloop.counter}}</p>
              <div></div>
            </header>
            <p>
              {{steps}}
            </p>
          </div>
          {%endfor%}
          
        </article>
        <article class="second-column">
          <div>
            <h4>ingredients</h4>
            {%for ing in recipe.0.ingredients%}
            <p class="single-ingredient">{{ing}}</p>
            {%endfor%}
          </div>

          <!-- <div>
            <h4>tools</h4>
            <p class="single-tool">Hand Blender</p>
            <p class="single-tool">Large Heavy Pot With Lid</p>
            <p class="single-tool">Measuring Spoons</p>
            <p class="single-tool">Measuring Cups</p>
          </div> -->
        </article>
      </section>
    </div>
  </main>





{%endblock%}